<!DOCTYPE html>

<html>
 
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
   <div class="main-content">
       {{>header}}
    <p><b><h2>{{Message}}</h2></b></p>
   </div> 
    {{>footer}}
</body>

</html>